*,
head,
body {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: deepskyblue;
    color: deepskyblue;
    height: 100%;
    font-family: calibri;
}

.flex-body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.flex-header {
    background-color: white;
    padding: 25px;

}

.flex-header h1 {
    font-size: 50px;
    display: inline;
}

.flex-header p {
    font-size: 22px;
    display: inline;
    padding-left: 10px;
}

.flex-map {
    background-image: url(map.png);
    background-repeat: no-repeat;
    background-position: top ;
    background-color: white;

/*    height: 100%;*/
    flex-grow: 1;
}

.flex-headline {
    padding: 25px;
    color: white;
    background-color: deepskyblue;
}

.flex-headline p {
    font-size: 30px;
}
