*:focus {
    outline: none;
}

*,
head,
body {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: calibri;
}

.flex-body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.flex-header {
    background-color: white;
    padding: 25px;
    color: #00bfff;
}

.flex-header h1 {
    font-size: 50px;
    display: inline;
    font-weight: 500;
	line-height: 1.1;
}

.flex-header p {
    font-size: 22px;
    display: inline;
    padding-left: 10px;
}

.flex-map {
    background-color: white;
    flex-grow: 1;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-headline {
    padding: 25px;
    color: white;
    background-color: deepskyblue;
    border-top: 3px solid lightgrey;
    font-size: 35px;
}

.flex-headline p {
    font-size: 25px;
}

.organisations-heading {
    background-color: white;
    color: deepskyblue;
    padding: 25px;
    font-size: 22px
}